node-red/flows.json
[{"id":"f1f68e93.181b1","type":"tab","label":"Dashboard Flows","disabled":true,"info":""},{"id":"1b24256d.9b626b","type":"tab","label":"Motion Flows","disabled":true,"info":""},{"id":"cba6d2d8.423b7","type":"tab","label":"Button Flows","disabled":false,"info":""},{"id":"a0878874.485318","type":"tab","label":"Test Area","disabled":false,"info":""},{"id":"35ad4fe4.069a3","type":"subflow","name":"SaveChart","info":"","category":"","in":[{"x":80,"y":60,"wires":[{"id":"f4457c36.28ce1"}]}],"out":[{"x":820,"y":80,"wires":[{"id":"cf553dbd.50f9a","port":0}]}]},{"id":"e0ad5adb.d11cd8","type":"group","z":"f1f68e93.181b1","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["ee4a634e.b8b5b"],"x":394,"y":639,"w":252,"h":82},{"id":"362bf92.8a2d206","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"15c52677.40f34a","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"David's Node-Red Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"true","dateFormat":"YYYY-MM-DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"90a027e7.30c298","type":"ui_tab","name":"DB Tab 1","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"97da2d5d.c1087","type":"ui_group","name":"Temp Group 1","tab":"90a027e7.30c298","order":1,"disp":true,"width":8,"collapse":false},{"id":"f1ec597e.0c24d8","type":"ui_group","name":"Temp Group 3","tab":"90a027e7.30c298","order":3,"disp":true,"width":"8","collapse":false},{"id":"1cc6df09.353b41","type":"ui_group","name":"Other Stuff","tab":"90a027e7.30c298","order":4,"disp":true,"width":"6","collapse":false},{"id":"a17bbc72.f5e78","type":"ui_group","name":"Temp Group 2","tab":"90a027e7.30c298","order":2,"disp":true,"width":8,"collapse":false},{"id":"69c4622f.fb415c","type":"mqtt-broker","name":"MQTT.dsba.net","broker":"mqtt.dsba.net","port":"1883","clientid":"ha-nodered","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":false,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"ccf3e50f.826628","type":"server-state-changed","z":"f1f68e93.181b1","name":"Temp Sensor State","server":"362bf92.8a2d206","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.*temp.*","entityidfiltertype":"regex","outputinitially":true,"state_type":"str","haltifstate":"99999","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":110,"y":280,"wires":[["219bbb71.33f034"],["97251f1d.47c3e"]]},{"id":"97251f1d.47c3e","type":"debug","z":"f1f68e93.181b1","name":"Didn't Pass Event Filter:","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":250,"y":480,"wires":[]},{"id":"7f951d61.fce414","type":"debug","z":"f1f68e93.181b1","name":"Didnt Pass 'Filter-Temps':","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":480,"wires":[]},{"id":"219bbb71.33f034","type":"switch","z":"f1f68e93.181b1","name":"Filter - Temps Only","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":"sensor.*temp$","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":260,"wires":[["907a2eb3.b5c69"],["7f951d61.fce414","d42723f4.4894e"]],"outputLabels":["Match-1","Otherwise"]},{"id":"d42723f4.4894e","type":"debug","z":"f1f68e93.181b1","name":"Didnt Pass 'Filter-Temps; (Full):","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":520,"wires":[]},{"id":"eedf9f38.c0f78","type":"ui_chart","z":"f1f68e93.181b1","name":"Dining Rm Temp","group":"97da2d5d.c1087","order":2,"width":8,"height":4,"label":"Dining Rm Temp","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Dining Rm Temp - Nothing Yet","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1640,"y":80,"wires":[["1514fac8.372c75"]],"inputLabels":["input 1"],"outputLabels":["output 1"]},{"id":"a037efad.ede8b","type":"switch","z":"f1f68e93.181b1","name":"","property":"data.new_state.attributes.friendly_name","propertyType":"msg","rules":[{"t":"cont","v":"Bedroom Temp","vt":"str"},{"t":"cont","v":"Bedroom 3 Temp","vt":"str"},{"t":"cont","v":"Breakfast","vt":"str"},{"t":"cont","v":"Dining","vt":"str"},{"t":"cont","v":"Family","vt":"str"},{"t":"cont","v":"Foyer","vt":"str"},{"t":"cont","v":"HVAC","vt":"str"},{"t":"cont","v":"Loft","vt":"str"},{"t":"cont","v":"Office","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":10,"x":1150,"y":120,"wires":[["c55d1702.eb5818","55b773dd.d54a4c"],["90e556f.b8de5a8"],["7d836890.7173d8","55b773dd.d54a4c"],["eedf9f38.c0f78"],["9e7ed215.7528d"],["a93fe501.244828","55b773dd.d54a4c"],["62164aff.316194"],["4087dacd.d1a434"],["f31fc429.61e6f8"],["9dfc24ca.7922f8","cc4ad61c.5353d8"]],"outputLabels":["","","","","","","","","","Otherwise"]},{"id":"9e7ed215.7528d","type":"ui_chart","z":"f1f68e93.181b1","name":"Family Room Temp","group":"f1ec597e.0c24d8","order":2,"width":8,"height":4,"label":"Family Room Temp","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Family Rm Temp - Nothing Yet","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1650,"y":140,"wires":[["9ae8bcb2.ff226"]],"inputLabels":["input 1"],"outputLabels":["output 1"]},{"id":"4087dacd.d1a434","type":"ui_chart","z":"f1f68e93.181b1","name":"Loft Temp","group":"a17bbc72.f5e78","order":1,"width":8,"height":4,"label":"Loft Temp","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Loft Temp - Nothing Yet","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1620,"y":260,"wires":[["dbdf00e2.ecd6d"]],"inputLabels":["input 1"],"outputLabels":["output 1"]},{"id":"9dfc24ca.7922f8","type":"ui_chart","z":"f1f68e93.181b1","name":"Otherwise Temp Graph","group":"a17bbc72.f5e78","order":4,"width":8,"height":4,"label":"All Other Temps","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Otherwise Graph - Nothing Yet","dot":false,"ymin":"","ymax":"","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1670,"y":640,"wires":[[]],"inputLabels":["input 1"],"outputLabels":["output 1"]},{"id":"7d836890.7173d8","type":"ui_chart","z":"f1f68e93.181b1","name":"Breakfast Rm Temp","group":"a17bbc72.f5e78","order":2,"width":8,"height":4,"label":"Breakfast Rm Temp","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Breakfast Rm Temp - Nothing Yet","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1650,"y":500,"wires":[["84188dd1.f7b25","e6b001fa.c58a1"]],"inputLabels":["input 1"],"outputLabels":["output 1"]},{"id":"f31fc429.61e6f8","type":"ui_chart","z":"f1f68e93.181b1","name":"Office Temp","group":"97da2d5d.c1087","order":3,"width":8,"height":4,"label":"Office Temp","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Office Temp - Nothing Yet!","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1630,"y":320,"wires":[["cea77074.f7e8b"]],"inputLabels":["input 1"],"outputLabels":["output 1"]},{"id":"62164aff.316194","type":"ui_chart","z":"f1f68e93.181b1","name":"HVAC Temp","group":"a17bbc72.f5e78","order":3,"width":8,"height":4,"label":"HVAC Temp","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"HVAC: Nothing Yet","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1630,"y":200,"wires":[["a27bd85b.6d37c8"]],"inputLabels":["input 1"],"outputLabels":["output 1"]},{"id":"c55d1702.eb5818","type":"ui_chart","z":"f1f68e93.181b1","name":"Bedroom Temp","group":"97da2d5d.c1087","order":1,"width":8,"height":4,"label":"Bedroom Temp","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Bedroom Temp - Nothing Yet","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1640,"y":380,"wires":[["84188dd1.f7b25","6b6abbb8.a01ab4"]],"inputLabels":["input 1"],"outputLabels":["output 1"]},{"id":"5296d07c.72ab1","type":"inject","z":"f1f68e93.181b1","name":"Clear the graphs","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"[]","payload":"[]","payloadType":"json","x":1080,"y":420,"wires":[["9e7ed215.7528d","eedf9f38.c0f78","4087dacd.d1a434","f31fc429.61e6f8","62164aff.316194","c55d1702.eb5818","9dfc24ca.7922f8","7d836890.7173d8","a93fe501.244828","90e556f.b8de5a8","40810fff.12277"]]},{"id":"cc4ad61c.5353d8","type":"debug","z":"f1f68e93.181b1","name":"Otherwise Match","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1650,"y":680,"wires":[]},{"id":"a93fe501.244828","type":"ui_chart","z":"f1f68e93.181b1","name":"Foyer Temp","group":"f1ec597e.0c24d8","order":3,"width":8,"height":4,"label":"Foyer Temp","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Foyer Temp - Nothing Yet","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1630,"y":440,"wires":[["84188dd1.f7b25","fe0b3787.050068"]],"inputLabels":["input 1"],"outputLabels":["output 1"]},{"id":"90e556f.b8de5a8","type":"ui_chart","z":"f1f68e93.181b1","name":"Bedroom 3 Temp","group":"f1ec597e.0c24d8","order":1,"width":8,"height":4,"label":"Bedroom 3 Temp","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Bedroom 3 Temp - Nothing Yet","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1650,"y":20,"wires":[["d80ffd62.a95b5"]],"inputLabels":["input 1"],"outputLabels":["output 1"]},{"id":"907a2eb3.b5c69","type":"change","z":"f1f68e93.181b1","name":"Replace Topic w/ Friendly Name","rules":[{"t":"set","p":"topic_orig","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"data.new_state.attributes.friendly_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":180,"wires":[["a037efad.ede8b"]]},{"id":"84188dd1.f7b25","type":"debug","z":"f1f68e93.181b1","name":"EZM Chart Output:","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1970,"y":580,"wires":[]},{"id":"40810fff.12277","type":"debug","z":"f1f68e93.181b1","name":"Clear-All Node Fired","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1280,"y":600,"wires":[]},{"id":"db9cbd5c.fb547","type":"file","z":"35ad4fe4.069a3","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":690,"y":40,"wires":[[]]},{"id":"f7f46486.9881a8","type":"file in","z":"35ad4fe4.069a3","name":"","filename":"","format":"utf8","sendError":true,"x":530,"y":80,"wires":[["cf553dbd.50f9a"]]},{"id":"ac2168dc.ee28f8","type":"json","z":"35ad4fe4.069a3","name":"","property":"payload","action":"","pretty":false,"x":530,"y":40,"wires":[["db9cbd5c.fb547"]]},{"id":"cf553dbd.50f9a","type":"json","z":"35ad4fe4.069a3","name":"","property":"payload","action":"","pretty":false,"x":690,"y":80,"wires":[[]]},{"id":"f4457c36.28ce1","type":"function","z":"35ad4fe4.069a3","name":"LoadSave","func":"var strSafe=msg.topic;\nif(strSafe)\n{\n    strSafe=strSafe.replace(/[^a-z0-9]/gi, '_').toLowerCase();\n    var loaded=context.get(strSafe)||0;\n    msg.filename =\"/data/charts/\"+strSafe+\".dat\";\n    //node.warn(loaded);\n    if(0===loaded)\n    {\n        //load chart!! \n        msg.payload=\"load\";\n        context.set(strSafe,1);\n        \n        //node.warn(\"Loading \" +strSafe);\n    }\n    else\n    {\n        //node.warn(\"Writing \" +strSafe);\n    }\n    return msg;    \n}\nreturn null;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":60,"wires":[["99a5d40b.95d618"]]},{"id":"99a5d40b.95d618","type":"switch","z":"35ad4fe4.069a3","name":"Load data","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"load","vt":"str"},{"t":"eq","v":"load","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":380,"y":60,"wires":[["ac2168dc.ee28f8"],["f7f46486.9881a8"]]},{"id":"d80ffd62.a95b5","type":"subflow:35ad4fe4.069a3","z":"f1f68e93.181b1","name":"","x":1930,"y":20,"wires":[["90e556f.b8de5a8"]]},{"id":"dbdf00e2.ecd6d","type":"subflow:35ad4fe4.069a3","z":"f1f68e93.181b1","name":"","x":1930,"y":260,"wires":[["4087dacd.d1a434"]]},{"id":"9ae8bcb2.ff226","type":"subflow:35ad4fe4.069a3","z":"f1f68e93.181b1","name":"","x":1930,"y":140,"wires":[["9e7ed215.7528d"]]},{"id":"1514fac8.372c75","type":"subflow:35ad4fe4.069a3","z":"f1f68e93.181b1","name":"","x":1930,"y":80,"wires":[["eedf9f38.c0f78"]]},{"id":"a27bd85b.6d37c8","type":"subflow:35ad4fe4.069a3","z":"f1f68e93.181b1","name":"","x":1930,"y":200,"wires":[["62164aff.316194"]]},{"id":"6b6abbb8.a01ab4","type":"subflow:35ad4fe4.069a3","z":"f1f68e93.181b1","name":"","x":1930,"y":380,"wires":[["c55d1702.eb5818"]]},{"id":"fe0b3787.050068","type":"subflow:35ad4fe4.069a3","z":"f1f68e93.181b1","name":"","x":1930,"y":440,"wires":[["a93fe501.244828"]]},{"id":"e6b001fa.c58a1","type":"subflow:35ad4fe4.069a3","z":"f1f68e93.181b1","name":"","x":1930,"y":500,"wires":[["7d836890.7173d8"]]},{"id":"55b773dd.d54a4c","type":"debug","z":"f1f68e93.181b1","name":"EZM Before Chart: ","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1640,"y":580,"wires":[]},{"id":"cea77074.f7e8b","type":"subflow:35ad4fe4.069a3","z":"f1f68e93.181b1","name":"","x":1930,"y":320,"wires":[["f31fc429.61e6f8"]]},{"id":"24c1647f.a26ffc","type":"debug","z":"f1f68e93.181b1","name":"Full Object Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":780,"wires":[]},{"id":"a9b49d2b.6e0a","type":"server-state-changed","z":"f1f68e93.181b1","name":"","server":"362bf92.8a2d206","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.*motion.*","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"azaz","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":180,"y":740,"wires":[["24c1647f.a26ffc","ee4a634e.b8b5b"],["24c1647f.a26ffc","ee4a634e.b8b5b"]]},{"id":"ee4a634e.b8b5b","type":"ui_text","z":"f1f68e93.181b1","g":"e0ad5adb.d11cd8","group":"1cc6df09.353b41","order":1,"width":0,"height":0,"name":"Motion Change Name","label":"Motion Change Label:","format":"{{msg.data.new_state.attributes.friendly_name }}: {{msg.payload}}","layout":"col-center","x":520,"y":680,"wires":[]},{"id":"a9ca34b7.0294d8","type":"debug","z":"1b24256d.9b626b","name":"Allowed State","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":620,"y":120,"wires":[]},{"id":"10ef81db.02bb6e","type":"debug","z":"1b24256d.9b626b","name":"Blocked State","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":620,"y":160,"wires":[]},{"id":"563108c2.f45238","type":"api-call-service","z":"1b24256d.9b626b","name":"","server":"362bf92.8a2d206","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.family_rm_light","data":"{\t   \"brightness_pct\":47\t}","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":630,"y":60,"wires":[[]]},{"id":"69ab186a.5f2318","type":"api-call-service","z":"1b24256d.9b626b","name":"","server":"362bf92.8a2d206","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.family_rm_light","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":630,"y":200,"wires":[[]]},{"id":"e70d1507.f70228","type":"server-state-changed","z":"1b24256d.9b626b","d":true,"name":"","server":"362bf92.8a2d206","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.fam_rm_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":290,"y":140,"wires":[["563108c2.f45238","a9ca34b7.0294d8"],["69ab186a.5f2318","10ef81db.02bb6e"]]},{"id":"6df81a44.a407e4","type":"server-state-changed","z":"a0878874.485318","name":"","server":"362bf92.8a2d206","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.ikea_of_sweden_symfonisk_sound_controller_cc4669fe_power","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"asfasdf","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":360,"y":40,"wires":[["fa3609b0.8d2028"],["fa3609b0.8d2028"]]},{"id":"fa3609b0.8d2028","type":"debug","z":"a0878874.485318","name":"ROTARY","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":40,"wires":[]},{"id":"1418bb84.4e9c74","type":"server-state-changed","z":"a0878874.485318","name":"","server":"362bf92.8a2d206","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"calendar.david_pers","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"asdf","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":200,"y":120,"wires":[["a5b27db8.9c523"],[]]},{"id":"a5b27db8.9c523","type":"debug","z":"a0878874.485318","name":"Test Area.Calendar Flow:","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":620,"y":140,"wires":[]},{"id":"7fe50b6b.58bcf4","type":"server-state-changed","z":"a0878874.485318","name":"","server":"362bf92.8a2d206","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"calendar.david_work","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"asdf","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":200,"y":180,"wires":[["a5b27db8.9c523"],[]]},{"id":"1c446583.80c4ea","type":"debug","z":"cba6d2d8.423b7","name":"NanoMote MQTT:","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":120,"wires":[]},{"id":"987c585e.52dcc8","type":"mqtt in","z":"cba6d2d8.423b7","name":"MQTT: Fam Rm NanoMote","topic":"zwave/Family_Room/NanoMote_1/+/+/scene/#","qos":"1","datatype":"auto","broker":"69c4622f.fb415c","nl":false,"rap":true,"rh":0,"x":110,"y":200,"wires":[["1c446583.80c4ea","e5e66f8.ac2bb9"]]},{"id":"11b04107.4e05df","type":"switch","z":"cba6d2d8.423b7","name":"Key Up/Down","property":"payload.value","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":440,"wires":[["17b0daa7.1e9765","559a2f50.2898d"],["c175a17e.f4ab3"]],"outputLabels":["Key Down","Key Up"]},{"id":"e5e66f8.ac2bb9","type":"json","z":"cba6d2d8.423b7","name":"","property":"payload","action":"","pretty":false,"x":230,"y":260,"wires":[["b20271b9.95ae5"]]},{"id":"b20271b9.95ae5","type":"change","z":"cba6d2d8.423b7","name":"","rules":[{"t":"set","p":"button_no","pt":"msg","to":"topic","tot":"msg"},{"t":"change","p":"button_no","pt":"msg","from":"^.*0/scene/","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":320,"wires":[["1122348a.682c8b"]]},{"id":"1122348a.682c8b","type":"function","z":"cba6d2d8.423b7","name":"Button # to Int","func":"msg.button_no = parseInt(msg.button_no);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":380,"wires":[["11b04107.4e05df"]]},{"id":"17b0daa7.1e9765","type":"switch","z":"cba6d2d8.423b7","name":"Which Button","property":"button_no","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":130,"y":580,"wires":[["bd5c0e74.20695"],["781fd2e3.393d7c"],["4f1a8770.68dbf8"],["bd5c0e74.20695"]]},{"id":"781fd2e3.393d7c","type":"api-call-service","z":"cba6d2d8.423b7","name":"Track Toggle","server":"362bf92.8a2d206","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.track_light","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":540,"wires":[[]]},{"id":"559a2f50.2898d","type":"debug","z":"cba6d2d8.423b7","name":"Button Hit","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":720,"y":320,"wires":[]},{"id":"c175a17e.f4ab3","type":"debug","z":"cba6d2d8.423b7","name":"Key Up:","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":720,"y":400,"wires":[]},{"id":"4f1a8770.68dbf8","type":"api-current-state","z":"cba6d2d8.423b7","name":"Breakfast Room State","server":"362bf92.8a2d206","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.breakfast_rm_light","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":400,"y":620,"wires":[["beaa2b7a.3d91a8"]]},{"id":"beaa2b7a.3d91a8","type":"switch","z":"cba6d2d8.423b7","name":"On/Off ?","property":"data.attributes.brightness","propertyType":"msg","rules":[{"t":"gte","v":"5","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":620,"wires":[["6597402e.7cfee","67d18279.05028c"],["6597402e.7cfee","922dc5c.3403838"]]},{"id":"922dc5c.3403838","type":"api-call-service","z":"cba6d2d8.423b7","name":"Kitchen/Breakfast On","server":"362bf92.8a2d206","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.kitchen_breakfast_lights_group","data":"{\t   \"brightness_pct\":47\t   }","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":700,"wires":[[]]},{"id":"67d18279.05028c","type":"api-call-service","z":"cba6d2d8.423b7","name":"Kitchen/Breakfast Off","server":"362bf92.8a2d206","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.kitchen_breakfast_lights_group","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":540,"wires":[[]]},{"id":"6597402e.7cfee","type":"debug","z":"cba6d2d8.423b7","name":"BRKFST IS: ","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":620,"wires":[]},{"id":"928019d.0325ee8","type":"comment","z":"cba6d2d8.423b7","name":"Fam Rm Nanomote Buttons","info":"","x":130,"y":140,"wires":[]},{"id":"7d99f210.5d4b9c","type":"mqtt in","z":"a0878874.485318","d":true,"name":"","topic":"#","qos":"2","datatype":"auto","broker":"69c4622f.fb415c","nl":false,"rap":true,"rh":0,"x":110,"y":440,"wires":[["11ce7e21.fde142"]]},{"id":"11ce7e21.fde142","type":"switch","z":"a0878874.485318","name":"","property":"retain","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":420,"wires":[["20388e1d.3ce162"],["70167bba.b736b4"]]},{"id":"361390b5.5241d","type":"http request","z":"a0878874.485318","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.ipify.org?format=json","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":260,"wires":[["e27aef8b.6bab","5e006e4a.f5b92"]]},{"id":"e27aef8b.6bab","type":"debug","z":"a0878874.485318","name":"Raw Response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":260,"wires":[]},{"id":"eb5ebc7e.83f3d","type":"inject","z":"a0878874.485318","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":260,"wires":[["361390b5.5241d"]]},{"id":"385ac16.4070e3e","type":"debug","z":"a0878874.485318","name":"What's My IP","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.ip","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":320,"wires":[]},{"id":"5e006e4a.f5b92","type":"json","z":"a0878874.485318","name":"","property":"payload","action":"obj","pretty":false,"x":480,"y":320,"wires":[["385ac16.4070e3e"]]},{"id":"70167bba.b736b4","type":"debug","z":"a0878874.485318","name":"MQTT Mesg OTHERWISE: ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":600,"y":480,"wires":[]},{"id":"20388e1d.3ce162","type":"change","z":"a0878874.485318","name":"","rules":[{"t":"set","p":"text","pt":"msg","to":"msg.topic & \": \" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":420,"wires":[["7ddc485c.674f78"]]},{"id":"7ddc485c.674f78","type":"debug","z":"a0878874.485318","name":"MQTT:","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"msg.text","targetType":"jsonata","statusVal":"","statusType":"auto","x":650,"y":420,"wires":[]},{"id":"bd5c0e74.20695","type":"api-current-state","z":"cba6d2d8.423b7","name":"Family Room State","server":"362bf92.8a2d206","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.family_rm_light","state_type":"habool","state_location":"state","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":390,"y":860,"wires":[["daf9a8dc.dbf0a8"]]},{"id":"daf9a8dc.dbf0a8","type":"switch","z":"cba6d2d8.423b7","name":"Brightness?","property":"data.attributes.brightness","propertyType":"msg","rules":[{"t":"gt","v":"151","vt":"str"},{"t":"btwn","v":"51","vt":"num","v2":"150","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":590,"y":860,"wires":[["7ce1619a.5a7ca"],["fec113c7.77952"],["44bfa1da.4a2a5"]]},{"id":"44bfa1da.4a2a5","type":"switch","z":"cba6d2d8.423b7","name":"","property":"button_no","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":940,"wires":[["cffa9bc6.dca6b8"],["a8c834b8.50b398"]]},{"id":"cffa9bc6.dca6b8","type":"api-call-service","z":"cba6d2d8.423b7","name":"Fam Rm Hi","server":"362bf92.8a2d206","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.family_rm_light","data":"{ \"brightness\": 220 }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":780,"wires":[[]]},{"id":"a8c834b8.50b398","type":"api-call-service","z":"cba6d2d8.423b7","name":"Fam Rm Lo","server":"362bf92.8a2d206","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.family_rm_light","data":"{ \"brightness\": 85}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":860,"wires":[[]]},{"id":"fec113c7.77952","type":"switch","z":"cba6d2d8.423b7","name":"","property":"button_no","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":860,"wires":[["cffa9bc6.dca6b8"],["1a4979e3.efff86"]]},{"id":"1a4979e3.efff86","type":"api-call-service","z":"cba6d2d8.423b7","name":"Fam Rm Off","server":"362bf92.8a2d206","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.family_rm_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":940,"wires":[[]]},{"id":"7ce1619a.5a7ca","type":"switch","z":"cba6d2d8.423b7","name":"","property":"button_no","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":780,"wires":[["1a4979e3.efff86"],["a8c834b8.50b398"]]},{"id":"74b14f42.531b1","type":"server-events","z":"cba6d2d8.423b7","name":"ZHA Events","server":"362bf92.8a2d206","event_type":"zha_event","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":150,"y":1040,"wires":[["adab4906.09ae48"]]},{"id":"adab4906.09ae48","type":"switch","z":"cba6d2d8.423b7","name":"Which Zigbee Device","property":"payload.event.device_id","propertyType":"msg","rules":[{"t":"eq","v":"ee1e1faa6a54de0d8e53354bdb39b567","vt":"str"},{"t":"eq","v":"b1f05e542147207b80ed1b5686f031b4","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":360,"y":1080,"wires":[["c68cc821.c7d958"],["c38a97de.5a95d8"],["ecea421a.43f0e"]],"outputLabels":["Office Rotor","TBD On/Off","All Others"]},{"id":"32831b5.618e6e4","type":"switch","z":"cba6d2d8.423b7","name":"Process Event","property":"payload.event.command","propertyType":"msg","rules":[{"t":"eq","v":"toggle","vt":"str"},{"t":"eq","v":"step","vt":"str"},{"t":"eq","v":"move","vt":"str"},{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":220,"y":1340,"wires":[["b092f041.e9441"],["ed05621b.f33c4"],["94cf2e53.c6d11"],["b5884798.cee5d8"]]},{"id":"9376627c.5724b","type":"api-call-service","z":"cba6d2d8.423b7","name":"","server":"362bf92.8a2d206","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_play_pause","entityId":"media_player.office_sonos","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":830,"y":1240,"wires":[[]]},{"id":"b092f041.e9441","type":"deduplicate","z":"cba6d2d8.423b7","name":"DeDupes","keyproperty":"event","expirypolicy":"extend","registryclass":"","noderole":"standalone","expiry":"1","x":460,"y":1280,"wires":[["9376627c.5724b"],["5067c2e7.b61a3c"]]},{"id":"5067c2e7.b61a3c","type":"debug","z":"cba6d2d8.423b7","name":"Rotator - Ignored","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.event.command & ': ' & payload.event.args","targetType":"jsonata","statusVal":"","statusType":"auto","x":390,"y":1580,"wires":[]},{"id":"ed05621b.f33c4","type":"deduplicate","z":"cba6d2d8.423b7","name":"DeDupes","keyproperty":"event","expirypolicy":"extend","registryclass":"","noderole":"standalone","expiry":"0.5","x":460,"y":1320,"wires":[["e4b5d760.4425c8"],["5067c2e7.b61a3c"]]},{"id":"94cf2e53.c6d11","type":"deduplicate","z":"cba6d2d8.423b7","name":"DeDupes","keyproperty":"event","expirypolicy":"extend","registryclass":"","noderole":"standalone","expiry":"1","x":460,"y":1360,"wires":[["c0bb87c4.394178"],["5067c2e7.b61a3c"]]},{"id":"b5884798.cee5d8","type":"deduplicate","z":"cba6d2d8.423b7","name":"DeDupes","keyproperty":"event","expirypolicy":"extend","registryclass":"","noderole":"standalone","expiry":"1","x":460,"y":1400,"wires":[["eefc7f37.b00f"],["5067c2e7.b61a3c"]]},{"id":"c0bb87c4.394178","type":"change","z":"cba6d2d8.423b7","name":"Note the move_start","rules":[{"t":"set","p":"move_direction","pt":"flow","to":"(-2*payload.event.args[0])+1","tot":"jsonata"},{"t":"set","p":"move_start","pt":"flow","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1360,"wires":[[]]},{"id":"eefc7f37.b00f","type":"change","z":"cba6d2d8.423b7","name":"Note the move_stop","rules":[{"t":"set","p":"move_stop","pt":"flow","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1420,"wires":[["25265d8e.5f75d2"]]},{"id":"f0e2043.84912f8","type":"change","z":"cba6d2d8.423b7","name":"DeDupe PreReq","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.event.command","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":1280,"wires":[["32831b5.618e6e4"]]},{"id":"ecea421a.43f0e","type":"debug","z":"cba6d2d8.423b7","name":"UNK Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.event","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":1120,"wires":[]},{"id":"25265d8e.5f75d2","type":"api-current-state","z":"cba6d2d8.423b7","name":"Get Current","server":"362bf92.8a2d206","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.office_sonos","state_type":"str","state_location":"current","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":970,"y":1420,"wires":[["7187cd71.25e444"]]},{"id":"7187cd71.25e444","type":"api-call-service","z":"cba6d2d8.423b7","name":"","server":"362bf92.8a2d206","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.office_sonos","data":"{\t   \"volume_level\": $min(\t       [\t           0.10,\t           $max(\t               [\t                   0.01,\t                   data.attributes.volume_level +  (\t                       $flowContext('move_direction') *  (\t                           $flowContext('move_stop') - $flowContext('move_start') \t                       ) *(0.00007) \t                   )\t               ]\t            )\t        ]\t   )\t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1070,"y":1480,"wires":[[]]},{"id":"e4b5d760.4425c8","type":"switch","z":"cba6d2d8.423b7","name":"Next/Back","property":"payload.event.args[0]","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":1300,"wires":[["40d69dac.88c394"],["259bd104.cbf7fe"]],"outputLabels":["Back Track","Next Track"]},{"id":"40d69dac.88c394","type":"api-call-service","z":"cba6d2d8.423b7","name":"Back Track","server":"362bf92.8a2d206","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_previous_track","entityId":"media_player.office_sonos","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1110,"y":1280,"wires":[[]]},{"id":"259bd104.cbf7fe","type":"api-call-service","z":"cba6d2d8.423b7","name":"Next Track","server":"362bf92.8a2d206","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_next_track","entityId":"media_player.office_sonos","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1110,"y":1340,"wires":[[]]},{"id":"f3d0412d.46ae1","type":"link in","z":"cba6d2d8.423b7","name":"Office Symfonisk In-point","links":["c68cc821.c7d958"],"x":95,"y":1280,"wires":[["f0e2043.84912f8"]]},{"id":"c68cc821.c7d958","type":"link out","z":"cba6d2d8.423b7","name":"To Office Symfonisk","links":["f3d0412d.46ae1"],"x":595,"y":1040,"wires":[]},{"id":"b7ca27d.34e72d8","type":"comment","z":"cba6d2d8.423b7","name":"Symfonisk Rotor Switch","info":"","x":190,"y":1240,"wires":[]},{"id":"27f933d4.ea85ac","type":"comment","z":"cba6d2d8.423b7","name":"TBD Tradfri Switch","info":"","x":160,"y":1640,"wires":[]},{"id":"c38a97de.5a95d8","type":"link out","z":"cba6d2d8.423b7","name":"To TBD Tradfri","links":["5f95eb78.6ce4f4"],"x":595,"y":1080,"wires":[]},{"id":"5f95eb78.6ce4f4","type":"link in","z":"cba6d2d8.423b7","name":"TBD Tradfri In-point","links":["c38a97de.5a95d8"],"x":95,"y":1700,"wires":[["e2a7cefd.8f50c"]]},{"id":"e2a7cefd.8f50c","type":"debug","z":"cba6d2d8.423b7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":230,"y":1700,"wires":[]},{"id":"3e460907.aa9e46","type":"comment","z":"cba6d2d8.423b7","name":"Zigbee Event Handler","info":"","x":170,"y":1000,"wires":[]}]